.graphDisplay {
  position: relative;
  grid-area: graph;
  max-width: max-content;
  height: 230px;
  canvas {
    border: 3px solid black;
  }
}

.graph {
  position: relative;
  max-width: 50%;
  height: 300px;
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 30px auto;
  grid-template-areas:
    'header header'
    'vert graph'
    '. hor';

  h3 {
    grid-area: header;
    align-self: center;
  }
}

body {
  background: #444;
}
